*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(30, 30, 30);
}

header{
    background-color: white;
    padding: 20px;
}


.logo_autotech{
    display: flex;
    gap: 1px;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.est1_bot_menu{
    color:#000000;
    font-size:20px;

    text-decoration: none; /* Remove o sublinhado */
    display: flex;
    text-align: center;
    width: 100%;
    height: 50px;
    align-items: center;
   align-items: center;


}


.est2_bot_menu2{
    display: flex;
    background-color:#0B2E86;
    color: aliceblue;
    border-radius: 10px;
    width:200% ;
    font-size: 20px; /* Tamanho da fonte */
    text-decoration: none; /* Remove o sublinhado */
    gap: 120px;
    height: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
   
   
    outline: none; /* Remove o contorno padrão ao focar */
   


}

.menu{
    display: flex;
    gap: 30px;
    align-items: center;

}

.text{

    display: flex;
    text-decoration: none;
}


.main_flexcont{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container_esquerdo{

   align-items: center;
   justify-content: center;
   padding-left: 6%;
    
}





.titulo2{
    color: white;
    font-size: 20px;
    margin-right: 5%;
}


.titulo1{
    color: white;
    font-size: 50px;
    margin-bottom: 2%;
}

.imagemMecanico{
    width: 700px;
    height: 850px;
}


.logo{
display: inline-block;
height: 75px;



}