@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --font-principal: "Montserrat", sans-serif;
    --cinza-claro: #dcdcdc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
}

body {
    background-color: #1e1e1e;
    color: white;
}

.cabecalho {
    background-color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_autotech {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    margin-right: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    background-color: #0B2E86;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 10px;
}

/* Conteúdo principal */
.conteudo {
    display: flex;
    padding: 30px;
    gap: 40px;
}

/* Coluna esquerda */
.coluna-esquerda {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.linha-tempo-titulo {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 24px;
}

.carro-imagem {
    width: 90%;
    border-radius: 20px;
}

.btn-esquerda {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    width: 80%;
    text-align: center;
}

/* Coluna direita */
.coluna-direita {
    width: 70%;
}

.titulo-veiculo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
}

.linha-divisoria {
    border: 1px solid white;
    margin-bottom: 20px;
}

.linha-do-tempo {
    position: relative;
    padding-left: 30px;
    font-family: "Montserrat";
}

.ponto {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    position: relative;
}

.bolinha {
    width: 60px;
    height: 60px;
    background-color: var(--cinza-claro);
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
    z-index: 1;
}

.ponto::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 25px;
    width: 100px;
    height: 2px;
    background-color: white;
    z-index: 0;
    transform: translateX(25px);
}

.info h3 {
    font-size: 16px;
    margin-bottom: 8px;
}

.info ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 14px;
}

.seta-final {
    font-size: 40px;
    font-weight: bold;
    margin-left: 150px;
}
